body {
  background-color: #000;
  font-family: Gill Sans;
  margin: 0;
}

.navigation {
  background-color: fade-out($black, .5);
  padding: 20px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  a {
    border-right: 1px solid $mid-grey;
    color: $white;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0 20px;
    text-decoration: none;

    &:last-child {
      border: 0;
    }

    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }
}

button {
  background-color: $pale-grey;
  border-radius: 50%;
  height: 75px;
  padding: 0;
  width: 75px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

img {
  width: 100%;
}
