body {
  background-color: #000;
  font-family: Gill Sans;
  margin: 0;
}

.navigation {
  background-color: fade-out($black, .5);
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  a {
    border-right: 1px solid $mid-grey;
    color: $white;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0 20px;
    text-decoration: none;

    &:last-child {
      border: 0;
    }

    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }
}

button {
  background-color: $pale-grey;
  border-radius: 50%;
  color: $white;
  font-size: 9px;
  letter-spacing: 2px;
  height: 75px;
  margin-top: 30px;
  padding: 0 0 4px;
  text-transform: uppercase;
  width: 75px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px #d6d6d6;
  }
}

img {
  width: 100%;
}
