.homepage-content {
  align-items: center;
  background: url('../assets/images/steamgrafik-cover.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  header {
    text-align: center;
  }

  h1 {
    color: #fff;
  }

  p {
    color: #fff;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 10px;
    margin: 60px 0 0;
  }

  img {
    margin-top: 312px;
  }
}

.content {
  // align-items: center;
  background-color: $white;
  color: $grey;
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;

  .navigation {
    background-color: fade-out($black, .8);
    padding: 10px 0;

    a {
      border-right: 1px solid $pale-grey;
      color: $white;

      &:last-child {
        border: 0;
      }

      &:hover {
        color: $mid-grey;
      }
    }
  }

  h1 {
    font-size: 40px;
    margin: 50px 0 20px;

    @media (min-width: 726px) {
      font-size: 50px;
    }
  }

  .clock {
    margin-top: 300px;
  }

  // &.randomuser {
  //   flex-direction: row;
  //   justify-content: center;
  //   // position: relative;
  // }
}

.user-content {
  margin: 125px 50px 0;
  max-width: 500px;
  position: relative;

  h3 {
    margin: 17px 0 10px;
  }

  .info-container {
    display: flex;
    justify-content: center;

    p {
      font-weight: 100;
      letter-spacing: 1px;
      margin-right: 5px;
    }
  }
}

.randomuser {
  button {
    margin-top: 0;
    padding: 0 10px 4px;
    position: absolute;
    top: 40%;
    right: -200px;

    &:hover {
      background-color: #c2c2c2;
    }
  }
}

.inventory {
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  input {
    border: 1px solid $grey;
    margin-bottom: 15px;
    padding: 15px 10px 15px 13px;
    width: 100%;

    &::placeholder {
      color: $pale-grey
    }
  }

  select {
    border: 1px solid $grey;
    border-radius: 0;
    height: 45px;
    margin-bottom: 15px;
    width: 100%;
  }

  textarea {
    margin-bottom: 15px;
    padding: 15px 10px 15px 13px;
    width: 100%;
  }
}
